.page_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .schedule_wrapper {
    width: 35%;
    height: 85%;
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 1.2em;
    }
    p {
      font-size: 1.3rem;
      margin: 0;
      color: #a6a6a6;
    }
    .calendar {
      margin: 5rem;
      width: 21vw;
      height: 20vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        color: black;
      }
      h6 {
        font-size: 0.6em;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }

    .calendar_header {
      width: 28vw;
      background-color: rgba(178, 177, 170, 255);
      border-radius: 40px 40px 0px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .calendar_body {
      width: 28vw;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    .table_header {
      width: 28vw;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: rgba(242, 241, 240, 255);
    }

    .weekday {
      width: 4vw;
      text-align: center;
    }

    .table_content {
      width: 28vw;
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      box-sizing: border-box;
    }
    .calendar_day {
      width: 4vw;
      height: 1.5vw;
      position: relative;
      //   border: 1px solid #a6a6a6;
      display: flex;
      justify-content: center;
    }

    .calendar_day:hover {
      background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }

    .calendar_day p {
      position: absolute;
      color: #a6a6a6;
      font-size: 0.6em;
    }

    .current {
      width: 4vw;
      height: 1.5vw;
      position: relative;
      //   border: 1px solid #a6a6a6;
      display: flex;
      justify-content: center;
    }

    .current p {
      position: absolute;
      color: #000000;
      font-size: 0.6em;
    }
    .current:hover {
      background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
    .selected {
      width: 4vw;
      height: 1.5vw;
      position: relative;
      background-color: rgba(0, 0, 0, 0.5);
      //   border: 1px solid #a6a6a6;
      display: flex;
      justify-content: center;
    }

    .selected p {
      position: absolute;
      color: black;
      font-weight: bold;
      font-size: 0.6em;
    }

    .selected:hover {
      cursor: pointer;
    }

    .today {
      width: 4vw;
      height: 1.5vw;
      position: relative;
      //   border: 1px solid #a6a6a6;
      border: 1px solid rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
    }

    .today p {
      position: absolute;
      font-size: 0.6em;
    }

    .today:hover {
      cursor: pointer;
    }

    form {
      .form_fields {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        fieldset {
          margin-bottom: 0;
          padding: 0;
          border: 0;
          display: flex;
          flex-direction: column;
          label {
            font-size: 1rem;
            font-weight: 600;
            margin-left: 3rem;
          }
          input {
            background-color: rgba(242, 241, 240, 255);
            border: #dad9d6 1px solid;
            height: 5rem;
            border-radius: 8px;
            margin-left: 1em;
            margin-right: 1em;
          }
        }
      }
      .form_submit {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        button[type='submit'] {
          font-size: 1.2rem;
          font-weight: bold;
          border-radius: 360px;
          padding: 10px 80px;
          cursor: pointer;
          box-shadow: 0 0 4px #999;
          outline: none;
        }
      }
    }
  }
}
