// Theme Modules
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@use 'sass:math';

@import 'Variables';
@import 'Base';
@import 'Spacing';
@import 'Typography';
@import 'Grid';
@import 'Utility';
@import 'Gutenberg';
@import 'Genesis';
@import 'Frontend';

@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap';


// Home Hero Section
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.home_hero {
    padding-bottom: 150px!important;
    padding-top: 500px!important;
}


header{
    .container{
      max-width: 1600px;
      width: 100%;
      padding: 0;
    }

    &.sub-page{
        .menu a{
            color: var(--color-black);
        }

        .light_logo{
            display: none!important;
        }

        .dark_logo{
            display: block;
        }
        
    }

    &.home{
        .dark_logo{
            display: none!important;
        }
    }

    .menu li:nth-child(4) a{
        border: 1px solid currentColor;
        border-radius: 29px;
        padding: 10px 20px 8px 20px;

        &:hover,
        &:focus{
            padding: 10px 20px 8px 20px;
        }
    }
}

// About Section
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.sec_home_about { 
    margin-top: -40px;
    border-radius: 60px 60px 0 0 ;

    .wp-block-columns{
        gap: 30px;

        .col_img{

            img{
                width: 500px;
            }
        }

        .col_txt{

            h2{
                margin-top: 0px;
                margin-bottom: 40px;
            }

            .monocrom_light{
                margin-top: 40px;
                margin-bottom: 45px;

                figure{
                    margin-bottom: 10px;

                    img{
                        height: 170px;
                    }
                }

                p{
                    font-weight: $font-weight-medium;
                }
            }
        }
    }
}


// Experience Section
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.sec_magic {

    .gb-container-image{
        border-radius: 60px;
    }

    h3{
        margin-top: 0px;
        margin-bottom: 30px;
    }
}

// Testimonial Section
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.sec_testimonial {
    overflow: hidden;
    height: 900px;

    .wp-block-columns{
        margin-bottom: 0px;
    }
    .col_img{

       figure{
            margin-bottom: 0px;
            height: 100%;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: right;
            }
       }
    }

    .col_txt{
        .gb-block-container{
            padding: 80px 15% 45px 10%!important;
            height: 900px;
            overflow-y: auto;

            h3{
                margin-top: 0px;
            }
    
            p{
                margin: 0px;
            }
    
            .testimony{
                padding-bottom: 100px;
            }
        }
       
    }
}



// Prefoter Section
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.prefooter {
    padding: 150px 5% 0 5%!important;

    .box_wrapper{
        border-radius: 40px;
        box-shadow: 0 10px 60px 0 rgba(0, 255, 167, 0.16);
        background-color: #fff;
        margin-bottom: 0px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        margin-bottom: -100px;
        align-items: center!important;
        cursor: pointer;
        

        .col_txt{
            padding: 50px 80px;
            transition: all .3s ease-in-out;

            h3{
                margin-top: 0;
                margin-bottom: 35px;
            }

            p{
                margin: 0px;
            }
        }

        .col_img{
            .gb-block-container{
                height: 100%;

                .gb-container-image-wrap{
                    overflow: hidden;
                }
                .gb-container-image-wrap::before{
                    content: "";
                    background: transparent;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    left: 0;
                    transform: scale(1.2);
                }

                .gb-container-image{
                    transform: scale(1);
                    transition: all .3s ease-in-out;
                }
            }

            .bt_arrow{
                text-align: center;
                margin: 0;

                img{
                    margin: auto;
                    width: 100px;
                    transform: scale(0);
                    transition: all .3s ease-in-out;
                }
            }
        }
        &:hover {
            .col_txt{
                transform: translateX(-30px);
                transition: all .3s ease-in-out;
            }

            .col_img{
                .gb-container-image-wrap::before{
                    background: rgb(0 0 0 / 20%);
                }
                .gb-container-image{
                    transform: scale(1.2);
                    transition: all .3s ease-in-out;
                }
            }

            .bt_arrow img{
                transform: scale(1);
                transition: all .3s ease-in-out;
            }
        }
    }
}



// About Hero Section
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.about_hero{

    .gb-container-content{
        width: 84%;
    }

    .wp-block-columns{
        gap: 100px;
    }
}



// How it works Section
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.sec_how_it_works{

    figure{
        margin-bottom: 0;
    }

   .col_img{
        padding-left: 5%;
        p{
            font-weight: $font-weight-medium;
            margin-bottom: 60px;
        }
   }
}


// electromagnetic  Section
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.sec_spectrum{
    background-image: linear-gradient(to top, #b2b1aa, rgba(178, 177, 170, 0));
    h3{
        margin-bottom: 80px;
    }
    .spectrum_img{
        margin-left: calc(-50vw + 50%);
        margin-right: calc(-50vw + 50%);
        max-width: 100vw;
        padding-left: 10%;
        overflow-x: auto;

        img{
            width: 250%;
            max-width: 300%;
        }
    }
}


// About - People Section
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.sec_people{

    .wp-block-columns{
        padding-top: 45px;
        margin-bottom: 0;

        .col_txt{
            
            .wp-block-group{
                width: 80%;
            }
        }

        h3{
            margin-bottom: 0;
        }

        h4{
            margin-bottom: 0;
        }

        .wp-block-social-links{
            padding: 10px 0 5px 0;
            display:  flex;
            gap: 10px;

            svg{
                width: 22px;
                height: 22px;
            }

            li{

                &:hover{
                    transform: scale(1);
                }
            }
        }
    }
}

// Get Started
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.form_wrapper{

    fieldset{
      display: flex;
      gap: 15px;
      width: 100%;
      justify-content: space-between;
      padding: 15px 0 50px 0!important;

      label{
        width: 100%;
        border-radius: 30px;
        border: solid 1px #b2b1aa;
        background-color: rgba(222, 221, 217, 0.4);
        overflow: hidden;
      }

      p{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0!important;
        color: #898880;
        border-radius: 30px;
      }
    }

    &.step1{

        label{
            height: 270px;
            overflow: visible;
        }

        p{
            margin-bottom: 8px!important;
        }

        svg{
            width: 185px;
        }

        span{
            color: var(--color-black);
            display: block;
            text-align: center;
            text-transform: uppercase;
            font-weight: 500;
        }
    }
}

// step 2
.step2{

    fieldset{
        flex-wrap: wrap;
        justify-content: flex-start;
        label{
            flex-basis: 48%;
            height: 130px;

            p{
                font-size: 3rem!important;
            }
        }
    }
}

// step 3
.step3{

    fieldset{
        padding: 15px 0 35px 0 !important;
        flex-basis: 65%;

        label{
            height: 130px;
            overflow: visible;

            p{
                margin-bottom: 5px!important;
            }

            span{
                font-weight: 500;
                text-align: center;
                text-transform: uppercase;
                color: var(--color-black);
                display: block;
            }
        }
    }

    .days_hrs_wrap{
        display: flex;
        align-items: flex-start;
        gap: 15px;

        fieldset.work_hrs{
            display: flex;
            flex-direction: column-reverse;
            gap:0px;
            flex-basis: 45%;
            padding: 15px 0 45px 0 !important;


            label{
                height: auto;
                background-color: transparent;
                border: none;
                font-weight: 500;
                text-align: center;
                text-transform: uppercase;
            }

            input{
                width: 100%;
                border-radius: 30px;
                border: solid 1px #b2b1aa;
                background-color: rgba(222, 221, 217, 0.4);
                overflow: hidden;
                height: 130px;
                text-align: center;
                font-weight: 500;
                color: rgb(137 136 128 / 50%);
                font-size: 4.5rem;
                padding: 0 18px;
                outline: none;
                margin-bottom: 10px;
                

                &:focus-visible{
                    border: none;
                }
            }


        }
    }

    .work_days{
        flex-direction: column;
        gap:0px;

        p{
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;
            color: var(--color-black);
        }
    }

}

// step 4
.step4{
    padding-top: 25px!important;

     section:nth-child(1){
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        padding-bottom: 20px;

        fieldset{
            flex-basis: 48%;

            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5){
                flex-basis: 31%;
            }
        }
    }
    fieldset{
        display: block;
        text-align: left;
        padding: 10px 0 0px 0 !important;
        flex-basis: 48%;

        label{
            border: none;
            padding: 0px;
            background: transparent;
            display: block;
            font-weight: 500;
            font-size: 14px;
            padding-left: 15px;
        }

        input{
            border-radius: 10px;
            border: solid 1px #b2b1aa;
            background-color: rgba(222, 221, 217, 0.4);
            height: 45px;
            outline: none;
            padding: 5px 15px;
            width: 100%;

            
        }
    }
}

// Thank you form
.thank_you{
    text-align: center;
    padding: 60px 45px 40px 45px;

    img{
        width: 80px;
        margin-bottom: 20px;
    }

    h1{
        margin-bottom: 40px;
    }

    p{
        font-size: 24px!important;
        font-weight: 300!important;
        margin-bottom: 50px!important;
    }

    a.bt_back{
        border-radius: 29px;
        background-color: #fff;
        border: none;
        font-weight: 700;
        color: #000;
        padding: 15px 50px;
        cursor: pointer;
        box-shadow: 0 5px 30px 0 rgb(0 255 177 / 30%);
    }
}